<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Imágenes
          <mat-icon>image</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Total (3)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="list-files">
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
      </div>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vídeos
          <mat-icon>video_camera_back</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Total (0)
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Documentos
            <mat-icon>description</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            Total (1)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="list-files">
            <app-file></app-file>
          </div>
      </mat-expansion-panel>

  </mat-accordion>
